.login-panel--div {
  width: 30%;
  display: flex;
  gap: 5rem;
  justify-content: center;
  border-radius: 5px;
  background-color: #ad0c0c;
  border: solid 3px #8f0a0a;
  padding: 10px 0;
  margin: 10px 0;
  position: absolute;
  right: 5px;
  animation-duration: 1s;
}

.display-name {
  font-weight: bold;
}

.login-panel--div > button {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-panel--logout {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn, .post-btn, .publish-btn, .home-btn {
  margin: 16px 24px ;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-panel--div > button:active {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.login-btn:active {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.post-btn:active {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.publish-btn:active {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.blog-input--div {
  background-color: #dcf0f5;
  text-align: center;
  width: 92%;
  margin: 0 20px;
  position: absolute;
  top: 15%;
  border-radius: 10px;
  padding: 20px;
  border: black;
}

.blog-input--form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;

}

.blog-input--topic {
  background-color: #e6f2f5;
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 3px;
  width: 525px;
  border: solid 1px black;
}

.blog-input--textarea {
  margin: auto;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 6px;
  font-family: sans-serif;
  resize: none;
}

.publish-btn {
  margin: 0 auto;
}

.blog-card--div {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  align-items: flex-start;
}

.blog-card-child--div {
  width: 300px;
  border: solid 1px black;
  border-radius: 10px;
}


.blog-card-child--div > img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.blog-card-child--div > p {
  text-align: justify;
  line-height: 1.3rem;
  word-spacing: 1px;
  padding: 0 4px;
}

.article--header {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: 'Bebas Neue', sans-serif;
}

.article--para {
  font-family: 'Open Sans', sans-serif;
  /* text-indent: 40px; */
  font-size: 1rem;
  letter-spacing: .5px;
  word-spacing: 2px;
  line-height: 1.6rem;
  max-width: 95%;
  margin: auto;
  text-align: left;
}

.article--para:first-of-type::first-letter {
  font-size: 2.8em; /* Adjust the size as needed */
    float: left;
    margin-right: 4px; /* Create space between the letter and text */
    line-height: 1.1;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .login-panel--div {
    width: 60%;
    justify-content: space-around;
  }
}


@media screen and (max-width: 650px) {
  .login-panel--div {
    width: 80%;
    justify-content: space-around;
  }

  .blog-input--div {
    left: 0;
    width: 90%;
  }

  .blog-input--topic { 
    font-size: 15px;
    width: 95%;
  }

  .blog-input--textarea {
    width: 95%;
  }
}